<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ViolationsCollecting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ViolationsCollecting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
  <connectionStrings>
    <add name="ViolationsCollecting.Properties.Settings.SQLconnectionFile"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ViolationsDB.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="ViolationsCollecting.Properties.Settings.SQLconnectionServer"
      connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ViolationsDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" />
  </connectionStrings>
  <applicationSettings>
    <ViolationsCollecting.Properties.Settings>
      <setting name="TimeToExpired" serializeAs="String">
        <value>02:00:00</value>
      </setting>
    </ViolationsCollecting.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <ViolationsCollecting.Properties.Settings>
      <setting name="ShowWeightAndPyload" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExportPath" serializeAs="String">
        <value />
      </setting>
      <setting name="AppUnit" serializeAs="String">
        <value>كرداسة</value>
      </setting>
      <setting name="CurrentYear" serializeAs="String">
        <value>2024</value>
      </setting>
    </ViolationsCollecting.Properties.Settings>
  </userSettings>
</configuration>