<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ViolationsCollector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ViolationsCollector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
  <add name="ViolationsCollector.Properties.Settings.SQLconnectionFile"
   connectionString="Data Source=(LocalDB)\v12.0;AttachDbFilename=|DataDirectory|\ViolationsDB.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="ViolationsCollector.Properties.Settings.SQLconnectionServer"
   connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ViolationDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" />
 </connectionStrings>
	<applicationSettings>
		<ViolationsCollector.Properties.Settings>
   <setting name="TimeToExpired" serializeAs="String">
    <value>02:00:00</value>
   </setting>
  </ViolationsCollector.Properties.Settings>
	</applicationSettings>
	<userSettings>
		<ViolationsCollector.Properties.Settings>
   <setting name="ShowWeightAndPyload" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ExportPath" serializeAs="String">
    <value />
   </setting>
   <setting name="AppUnit" serializeAs="String">
    <value>كرداسة</value>
   </setting>
   <setting name="CurrentYear" serializeAs="String">
    <value>2024</value>
   </setting>
   <setting name="WorkSheetPassword" serializeAs="String">
    <value>Pass#123</value>
   </setting>
  </ViolationsCollector.Properties.Settings>
	</userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
