<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>

	<connectionStrings>
		<add name="SqlConnection" connectionString="Data Source=DRAGON\SQLEXPRESS;Database=ViolationsDB;Trusted_Connection=True;Integrated Security=True;TrustServerCertificate=True;App=EntityFramework"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
