<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="ViolationstSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>

	<connectionStrings>
  <add name="ViolationstSystem.Properties.Settings.SqlConnectionLocal"
   connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ViolationsDB;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="ViolationstSystem.Properties.Settings.SqlConnectionTCP"
   connectionString="Data Source=192.168.1.1,1433;Initial Catalog=ViolationsDB;User ID=DRAGON;Password=@Zxcv1234;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><userSettings>
  <ViolationstSystem.Properties.Settings>
   <setting name="SelectedConnectionType" serializeAs="String">
    <value>ViolationstSystem.Properties.Settings.SqlConnectionLocal</value>
   </setting>
   <setting name="ValidateOriginal" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WorksheetPassword" serializeAs="String">
    <value>Pass#123</value>
   </setting>
  </ViolationstSystem.Properties.Settings>
 </userSettings>
</configuration>
